/*ROOT*/
:root{
    --fuenteUno: 'Open Sans', sans-serif;
    --fuenteDos: 'PT Sans', sans-serif;
    --colorPrimario: #784d3c;
    --colorBlanco: #fff;
    --colorGris: #e1e1e1;
    --colorNegro: #000;
}
/*Globales*/

html{
    font-size: 62.5%;
    box-sizing: border-box
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 16px;
    font-family: var(--fuenteDos);
    line-height: 2;
}
h1,h2,h3,h4{
    font-family: var(--fuenteUno);
}
h1{
    font-size: 4rem;
}

h2{
    font-size: 3.5rem;
}

h3{
    font-size: 3rem;
}

h4{
    font-size: 2.5rem;
}

p{
    font-size: 2rem;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}


/*Utilidades*/

.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
.no-margin{
    margin: 0;
}
.no-pading{
    padding: 0;
}

.centrar-texto{
    text-align:center;
}

.boton{
    padding: 1rem 3rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--fuenteUno);
}
.boton--primario{
    background-color: var(--colorNegro);
    color: var(--colorBlanco);
   
}
.boton--secundario{
    background-color: var(--colorPrimario);
    color: var(--colorBlanco);
   
}

/*____INDEX____*/

/*---header---*/
.header{
    background-image: url(../img/banner.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}
.header__texto{
    color: var(--colorBlanco);
    margin-top: 10rem;
}

.barra{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.barra__logo{
    color: var(--colorBlanco);
    padding-top: 2rem;
}
.logo__titulo{
    font-weight: 400;
}
.logo__bold{
    font-weight: 700;
}
.navegacion__enlace{
    color: var(--colorBlanco);
    margin-left: 2rem;
}

/*---contenido principal---*/
.contenido-principal{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 5rem;
}

.main__entrada{
    border-bottom: 1px solid var(--colorGris);
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}
.main__entrada:last-of-type{
    border:none;
}

.taller__entrada{
    border-bottom: 1px solid var(--colorGris);
    padding-bottom: 2rem;
}
.entrada__titulo, .entrada__precio, .entrada__cupo{
    font-weight: bold;
}

.letra--ligth{
    font-weight: 400;
}
/*---footer---*/

.footer{
    background-color: var(--colorNegro);
    padding-bottom: 2rem;
}

/*____NOSTROS____*/
/*---mian--*/

.main{
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.main__contenido{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
}

.contenido__texto{
text-align: justify;
}

/*____CURSOS____*/
/*---mian--*/
.main-cursos{
    margin-top: 5rem;
}

/*____ENTRADAS DE BLOG____*/
/*---mian--*/
.entrada-blog{
    display: grid;
    grid-template-rows: 1fr ;
}
.entrada__img{
    height: 70rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.entrada-blog{
    text-align: justify;
}



.curso{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 3rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid var(--colorGris);
    padding-bottom: 3rem;
}

/*____CONTACTO____*/
/*---mian--*/
.contacto{
    margin-top: 3rem;
}
.contacto__img{
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.formulario{
    width: 90%;
    margin: 0 auto;
}

.formulario__fieldset{
    border: none;
    background-color: var(--colorBlanco);
    margin-top: -5rem;
    padding: 4rem;
}

.campo{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}
.campo__label{
    flex: 0 0 9rem;
}
.campo__input{
    border: 1px solid var(--colorGris);
    border-radius: 5px;
    flex: 1 0 9rem;
    padding: 1rem 0 1rem 1rem;
}
.campo__textArea{
    border: 1px solid var(--colorGris);
    border-radius: 5px;
    flex: 1 0 9rem;
    padding: 1rem 0 10rem 1rem;
}

.campo-boton{
    margin-top: 5rem;
    width: 100%;    
    display: flex;
    justify-content: flex-end;
}
.submit{
    border: none;
    cursor: pointer;
    
}

/*<<<<MEDIA QUERY>>>>*/

/*____INDEX____*/
/*---header---*/

@media(max-width: 728px) {
    .barra{
        flex-direction: column;
    }
    .barra__navegacion{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navegacion__enlace{
        margin: 0;
        margin-top: 1rem;
    }
}
/*---contenido principal---*/
@media(max-width: 728px) {
    .contenido-principal{
       grid: unset;
    }
    .main{
        text-align: center;
    }
    .boton{
        display: block;
        text-align: center;
        max-width: 90%;
        margin: 0 auto;
    }
    .aside{
        text-align: center;
    }
}
/*____NOSOTROS____*/
/*---main---*/
@media(max-width: 900px) {
    .main__contenido{
        grid: unset;
    }
    .contenido__texto{
        margin-top: 3rem;
    }
    
}

/*____CURSOS____*/
/*---main---*/

@media(max-width: 800px) {
    .curso{
        grid:unset;
        text-align: center;
        
    }

    .curso__imagen{
        height: 60rem;
        margin: 0 auto;
    }
    
}


/*____ENTRADA DE BLOG____*/
/*---main---*/

@media(max-width: 800px) {
  
    .entrada__img{
        height: 50rem;
        
    }
}


/*____ENTRADA DE BLOG____*/
/*---formulario---*/
@media(max-width: 728px) {
    .campo{
        flex-direction: column-reverse;
        text-align: center;
    }
    .campo__input{
        flex: unset;
    }
    .campo__label{
        flex: unset;
    }
    .submit{
        width: 100%;
    }
}


