/*ROOT*/
:root{
    --fuenteUno: 'Open Sans', sans-serif;
    --fuenteDos: 'PT Sans', sans-serif;
    --colorPrimario: #784d3c;
    --colorBlanco: #fff;
    --colorNegro: #000;
}
/*Globales*/

html{
    font-size: 62.5%;
    box-sizing: border-box
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 16px;
    font-family: var(--fuenteDos);
    line-height: 2;
}
h1,h2,h3,h4{
    font-family: var(--fuenteUno);
}
h1{
    font-size: 4rem;
}

h2{
    font-size: 3.5rem;
}

h3{
    font-size: 3rem;
}

h4{
    font-size: 2.5rem;
}

p{
    font-size: 2rem;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}


/*Utilidades*/

.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
.no-margin{
    margin: 0;
}
.no-pading{
    padding: 0;
}

.centrar-texto{
    text-align:center;
}


/*____INDEX____*/

/*---header---*/
.header{
    background-image: url(../img/banner.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}
.header__texto{
    color: var(--colorBlanco);
    margin-top: 10rem;
}

.barra{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.barra__logo{
    color: var(--colorBlanco);
    padding-top: 2rem;
}
.logo__titulo{
    font-weight: 400;
}
.logo__bold{
    font-weight: 700;
}
.navegacion__enlace{
    color: var(--colorBlanco);
    margin-left: 2rem;
}

/*---contenido principal---*/
.contenido-principal{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 5rem;
}




/*<<<<MEDIA QUERY>>>>*/

/*____INDEX____*/
/*---header---*/

@media(max-width: 728px) {
    .barra{
        flex-direction: column;
    }
    .barra__navegacion{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navegacion__enlace{
        margin: 0;
        margin-top: 1rem;
    }
}